[phases.setup]
nixPkgs = ["python311", "pip"]

[phases.install]
cmds = [
  "python -m ensurepip --upgrade",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "cd chainlit-app && python -m chainlit run app.py --host 0.0.0.0 --port $PORT"
